/* Carrusel */


/* Controladores */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    opacity: 1;
}

/* Transición más rápida */
.carousel-item {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* Responsividad */
@media (max-width: 768px) {
    .carousel-inner img {
        max-height: 60vh; /* Hacemos que el carrusel sea más pequeño en pantallas pequeñas */
    }
}
