/* Variables de diseño */
:root {
    --primary-color: #adacc9;
    --secondary-color: #333;
    --text-color-light: #fff;
    --border-color: #ddd;
    --font-primary: 'Gruppo', sans-serif;
    --font-secondary: 'Playfair Display', serif;
}

/* General */
html, body {
    height: 100%; /* Asegura que la altura de todo el documento sea del 100% */
    margin: 0; /* Elimina márgenes predeterminados */
}

/* Body y Contenedor */
body {
    font-family: var(--font-primary);
    background-color: #f5f5f5;
    color: var(--secondary-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column; /* Alineación vertical de los elementos */
    min-height: 100vh; /* Hace que el body ocupe toda la altura de la ventana */
}

/* Header */
header {
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px 0;
}

/* Logo */
.logo-header {
    max-height: 50px;
    max-width: 100%;
    object-fit: contain;
}

/* Centrado de la columna del logo */
.logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buscador */
.search-form {
    display: flex;
    align-items: center;
    width: auto;
    max-width: 300px;
    margin: 0 auto;
}

.search-input {
    flex: none;
    width: 200px;
    border: 1px solid var(--border-color);
    border-radius: 20px 0 0 20px;
    padding: 5px 10px;
    outline: none;
    background-color: white;
}

.search-input:focus {
    border-color: var(--primary-color);
}

.btn-search {
    flex: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
}

/* Iconos */
.icon-links {
    display: flex;
}

.icon-links a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 10px;
    transition: transform 0.2s;
}

.icon-links a:hover i {
    transform: scale(1.1);
    color: var(--primary-color);
}

/* Navbar */
.navbar-nav .nav-link {
    padding: 10px 15px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Categorías */
.category-box img {
    width: 100%;
    height: auto;
}

.category-box:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-title {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.category-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Fondo oscuro superpuesto */
.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.category-box:hover .category-overlay {
    opacity: 1;
}

/* Main content */
main {
    flex: 1; /* Permite que el main crezca y ocupe el espacio disponible */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0; /* Asegura que esté al fondo si hay poco contenido */
}

/* Responsividad */
@media (max-width: 768px) {
    .category-title {
        font-size: 1rem;
    }

    .category-box img {
        max-height: 150px;
    }

    footer .social-icons a {
        font-size: 1.2rem;
    }
}
