/* Variables de diseño */
:root {
    --primary-color: #adacc9;
    --secondary-color: #333;
    --text-color-light: #fff;
    --border-color: #ddd;
    --font-primary: 'Gruppo', sans-serif;
    --font-secondary: 'Playfair Display', serif; /* Cambia por Lora si lo prefieres */
}


/* General */
body {
    font-family: var(--font-primary);
    background-color: #f5f5f5;
    color: var(--secondary-color);
    line-height: 1.6;
}

/* Header */
header {
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px 0;
}

/* Logo */
.logo-header {
    height: 50px;
    max-width: 100%;
    object-fit: contain;
}

/* Buscador */
.search-form {
    display: flex;
    align-items: center;
    width: auto; /* Cambiamos a auto para respetar el tamaño del input */
    max-width: 300px; /* Limita el ancho total del buscador */
    margin: 0 auto; /* Centrarlo opcionalmente */
}

.search-input {
    flex: none; /* Evita que crezca automáticamente */
    width: 200px; /* Ancho específico del campo de texto */
    border: 1px solid var(--border-color);
    border-radius: 20px 0 0 20px;
    padding: 5px 10px;
    outline: none;
    background-color: white;
}

.search-input:focus {
    border-color: var(--primary-color);
}

.btn-search {
    flex: none; /* Asegúrate que el botón no crezca */
    border-radius: 0 20px 20px 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
}


.search-input:focus {
    border-color: var(--primary-color);
}

.btn-search {
    border-radius: 0 20px 20px 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
}


/* Iconos */
.icon-links {
    display: flex;
}

.icon-links a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 10px;
    transition: transform 0.2s;
}

.icon-links a:hover i {
    transform: scale(1.1);
    color: var(--primary-color);
}

/* Navbar */
.navbar-nav .nav-link {
    padding: 10px 15px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Categorías */
.category-box img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category-box:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}